mixin headerNavLink(link, text)
    li.header-nav__item
        a(href=link).header-nav__link= text

.header__top
    .container
        .header__content
            nav.header__nav.header-nav
                ul.header-nav__list
                    + headerNavLink('', 'Оплата та доставка')
                    + headerNavLink('', 'Гарантія та якість')
                    + headerNavLink('', 'Контакти')
                    + headerNavLink('about.html', 'Про нас')
            nav.header__nav.header__nar--right.header-nav
                ul.header-nav__list
                    + headerNavLink('login.html', 'Вхід')
                    + headerNavLink('', 'Реєстрація')
