.header__top
    .container
        .header__content
            nav.header__nav.header-nav
                ul.header-nav__list
                    + headerNavLink('', 'Оплата та доставка')
                    + headerNavLink('', 'Гарантія та якість')
                    + headerNavLink('', 'Контакти')
                    + headerNavLink('', 'Про нас')
            nav.header__nav.header__nar--right.header-nav
                ul.header-nav__list
                    + headerNavLink('', 'Вхід')
                    + headerNavLink('', 'Реєстрація')
