@import "hits";


.products-line-slider {
  height: 440px;
}
.tab {
  display: none;
  &__hits {
    width: 10px;
  }
  &.tab {
    &--active {
      display: block;
    }
  }
}
.tabs {
  &__body {
  }
  &-navigation {
    &__item {
      cursor: pointer;
    }
  }
}
@keyframes tab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
