section.s-about
    .collaborator
        h2.title-section Про нас
        .about
            .about__body
                p.text.text--bold.text--padding Аптечна мережа Мед-сервіс ™ - це перша національна мережа, яка об'єднує під торговою маркою «Мед-сервіс» 320 аптек в 100 містах України.
                p.text.text--bold.text--padding Ми постійно збільшуємо кількість аптек, щоб зробити рівень обслуговування ще доступнішим.
                p.text.text--bold.text--padding YourDear Drugs ™ - це не просто мережа аптек.
                p.text.text--bold.text--padding Це висококласна команда професіоналів у своїй спеціалізації, здатна швидко і якісно виконувати поставлені завдання.
                p.text.text--bold.text--padding Асортимент мережі аптек Мед-сервіс ™ - це більше 16 000 найменувань товарів.
                p.text.text--bold.text--padding У нас ви завжди зможете знайти всі необхідні лікарські препарати, лікувальну косметику, дитячі товари, прилади медичного призначення, здатні зміцнювати здоров'я і красу кожен день.
                p.text.text--bold.text--padding YourDear Drugs ™ - це передовий рівень представлених рішень.
                p.text.text--bold.text--padding Щоб зробити процес обслуговування і консультації комфортним і приємним, наші аптеки працюють за європейським форматом фарммаркетов і товари в них знаходяться у вільному доступі.
                p.text.text--bold.text--padding YourDear Drugs ™ - це аптеки для кожного українця.
                p.text.text--bold.text--padding Ми постійно ростемо і розширюємо сфери послуг для вас: відкриті аптеки «Мед-сервіс-kids», в яких ви завжди зможете знайти найякісніші товари по догляду за дітьми, для годуючих мам і вагітних, а також «Мед-сервіс-beauty», в яких представлений найновіший і широкий асортимент лікувальної косметики.
                p.text.text--bold.text--padding YourDear Drugs ™ - це власні торгові марки.
                p.text.text--bold.text--padding Ми формуємо свій асортимент відповідно до світових тенденцій. У всіх аптеках нашої мережі ви можете знайти лікувальну продукцію під власною торговою маркою «Prano». Ми ретельно стежимо за якістю товарів в наших аптеках, тому абсолютно вся продукція проходить тестування, сувору перевірку і відповідає всім необхідним нормам і стандартам.
                p.text.text--bold.text--padding Сьогодні аптеки YourDear Drugs ™ - це більше 65 000 клієнтів щодня.
                p.text.text--bold.text--padding Ми рухаємося вперед, використовуючи інноваційні методи: розроблені Call-centre, куди ви можете звернутися за консультацією, дізнатися про цікавить вас препараті і зробити замовлення по телефону необхідного вам товару, а також інтернет-аптека Мед-сервіс ™, де ви можете вибрати і купити потрібний Вам товар в будь-який зручний для Вас час.
