section.s-about
    .collaborator
        h2.title-section Про нас
        .about.tabs
            .tabs__body.about__body
                .tab.tab-advantages.tab--active
                    p.text Ми постійно збільшуємо кількість аптек, щоб зробити рівень обслуговування ще доступнішим.
                    p.text Це висококласна команда професіоналів у своїй спеціалізації, здатна швидко і якісно виконувати поставлені завдання.
                    p.text У нас ви завжди зможете знайти всі необхідні лікарські препарати, лікувальну косметику, дитячі товари, прилади медичного призначення, здатні зміцнювати здоров'я і красу кожен день.
                .tab.tab-service
                    p.text Щоб зробити процес обслуговування і консультації комфортним і приємним, наші аптеки працюють за європейським форматом фарммаркетов і товари в них знаходяться у вільному доступі. Ми постійно ростемо і розширюємо сфери послуг для вас: відкриті аптеки «Мед-сервіс-kids», в яких ви завжди зможете знайти найякісніші товари по догляду за дітьми, для годуючих мам і вагітних, а також «Мед-сервіс-beauty», в яких представлений найновіший і широкий асортимент лікувальної косметики.
                .tab.tab-delivery
                    p.text Ми формуємо свій асортимент відповідно до світових тенденцій. У всіх аптеках нашої мережі ви можете знайти лікувальну продукцію під власною торговою маркою «Prano». Ми ретельно стежимо за якістю товарів в наших аптеках, тому абсолютно вся продукція проходить тестування, сувору перевірку і відповідає всім необхідним нормам і стандартам. Ми рухаємося вперед, використовуючи інноваційні методи: розроблені Call-centre, куди ви можете звернутися за консультацією, дізнатися про цікавить вас препараті і зробити замовлення по телефону необхідного вам товару, а також інтернет-аптека Мед-сервіс ™, де ви можете вибрати і купити потрібний Вам товар в будь-який зручний для Вас час.
            ul.tabs-navigation.about-navigation
                li(show-tab="tab-advantages").about-navigation__item.tabs-navigation__item.tabs-navigation__item--active Каталог
                li(show-tab="tab-service").about-navigation__item.tabs-navigation__item Сервiс
                li(show-tab="tab-delivery").about-navigation__item.tabs-navigation__item Доставка

