section.s-advantages
    .container
        .advantages
            .advantage
                +icon('key', 'advantage__icon')
                .advantage__body
                    span.advantage__title Гарантія
                    span.advantage__description Якість всіх товарів
            .advantage
                +icon('shipped', 'advantage__icon')
                .advantage__body
                    span.advantage__title Доставка
                    span.advantage__description Від 5000 тисяч доставка безкоштовна
            .advantage
                +icon('money', 'advantage__icon')
                .advantage__body
                    span.advantage__title Оплата
                    span.advantage__description Онлайн і готівкою
