section.s-banner
    .container
        .banner
            .banner__navigation.banner__navigation--prev
                +icon('back', 'banner__navigation-icon')
            .banner__navigation.banner__navigation--next
                +icon('next', 'banner__navigation-icon')
            .banner__dots
            .js-banner
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title Но-шпа
                            span.banner__description Болить голова? Бери обидва!
                            a(href="").btn.btn--border-rosewood.btn--color-cream-brulee.btn--transparent.btn--round.btn--inline Замовити
                        .banner__img-wrapper
                            img(src="static/images/content/banner/first.png" alt="First image on the banner").banner__img
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title Но-шпа
                            span.banner__description Болить голова? Бери обидва!
                            a(href="").btn.btn--border-rosewood.btn--color-cream-brulee.btn--transparent.btn--round.btn--inline Замовити
                        .banner__img-wrapper
                            img(src="static/images/content/banner/first.png" alt="First image on the banner").banner__img
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title Но-шпа
                            span.banner__description Болить голова? Бери обидва!
                            a(href="").btn.btn--border-rosewood.btn--color-cream-brulee.btn--transparent.btn--round.btn--inline Замовити
                        .banner__img-wrapper
                            img(src="static/images/content/banner/first.png" alt="First image on the banner").banner__img

