@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat'),
  url("../fonts/montserrat-medium/Montserrat-Medium.oet") format('eot'),
  url("../fonts/montserrat-medium/Montserrat-Medium.otf") format('otf'),
  url("../fonts/montserrat-medium/Montserrat-Medium.ttf") format('ttf'),
  url("../fonts/montserrat-medium/Montserrat-Medium.woff") format('woff'),
  url("../fonts/montserrat-medium/Montserrat-Medium.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url("../fonts/montserrat-light/Montserrat-Light.oet") format('eot'),
  url("../fonts/montserrat-light/Montserrat-Light.otf") format('otf'),
  url("../fonts/montserrat-light/Montserrat-Light.ttf") format('ttf'),
  url("../fonts/montserrat-light/Montserrat-Light.woff") format('woff'),
  url("../fonts/montserrat-light/Montserrat-Light.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url("../fonts/montserrat-bold/Montserrat-Bold.oet") format('eot'),
  url("../fonts/montserrat-bold/Montserrat-Bold.otf") format('otf'),
  url("../fonts/montserrat-bold/Montserrat-Bold.ttf") format('ttf'),
  url("../fonts/montserrat-bold/Montserrat-Bold.woff") format('woff'),
  url("../fonts/montserrat-bold/Montserrat-Bold.woff2") format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Semibold'), local('Montserrat-Semibold'),
  url("../fonts/montserrat-semibold/Montserrat-Semibold.oet") format('eot'),
  url("../fonts/montserrat-semibold/Montserrat-Semibold.otf") format('otf'),
  url("../fonts/montserrat-semibold/Montserrat-Semibold.ttf") format('ttf'),
  url("../fonts/montserrat-semibold/Montserrat-Semibold.woff") format('woff'),
  url("../fonts/montserrat-semibold/Montserrat-Semibold.woff2") format('woff2');
  font-weight: 600;
  font-style: normal;
}

