.main-nav__dropdown-wrapper
    .main-nav__dropdown
        ul.main-subnav__list
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text БаДИ та вітаміни
                    +icon('right-chevron', 'main-subnav__icon')
                ul.main-subnav-list
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Вiтамiнiзоване харчування
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Вiтамiни
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Дiэтичнi добавки
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Добавки для контролю маси тiла
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Дрiжджi пивнi
                            +icon('right-chevron', 'main-subnav__icon')
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text Дитяча продукція
                    +icon('right-chevron', 'main-subnav__icon')
                ul.main-subnav-list
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Гiгiэна дитини
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Аксесуари
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Дитяча косметика
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Дитяча медтехнiка
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Дитяче харчування
                            +icon('right-chevron', 'main-subnav__icon')
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text Косметика
                    +icon('right-chevron', 'main-subnav__icon')
                ul.main-subnav-list
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Аромотерапiя
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Дермо та натуральна косметика
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Косметика для догляду за волоссям
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Косметичнi засоби для догляду за тiлом
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Косметичнi засоби для догляду за губами
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Косметичнi засоби для прийняття ван
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Косметичнi засоби для заxисту вiд комах
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Косметика для догляду за шкiрою рук
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Косметичнi засоби для догляду за ногами
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Косметичнi засоби для догляду за нiгтями
                            +icon('right-chevron', 'main-subnav__icon')
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text Ліки
                    +icon('right-chevron', 'main-subnav__icon')
                ul.main-subnav-list
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Антинеопластичні й імуномодулюючі засоби
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Гомеопатiя
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Дерматологiчнi засоби
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Гормональнi препарати
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Препарати сечостатевої системи і статеві гормони
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Противовiруснi
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Протимікробні засоби для системного застосування
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Протипаразитарні засоби, інсектициди й репеленти
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Різні засоби
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Засоби, що впливають на опорно-руховий апарат
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Засоби, що впливають на травну систему і метаболізм
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Засоби, що впливають на серцево-судинну систему
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Засоби, що впливають на систему крові й гемопоез
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Засоби, що діють на нервову систему
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Засоби, що діють на органи почуттів
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Засоби, що діють на респіраторну систему
                            +icon('right-chevron', 'main-subnav__icon')
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text Оптика
                    +icon('right-chevron', 'main-subnav__icon')
                ul.main-subnav-list
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Оптика розчини для лінз
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Оптика сонцезахисні окуляри
                            +icon('right-chevron', 'main-subnav__icon')
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text Засоби гігієни
                    +icon('right-chevron', 'main-subnav__icon')
                ul.main-subnav-list
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Антисептичні засоби
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Паперові рушники
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Ватні вироби
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Носові хустинки
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Серветки
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Засоби жіночої гігієни
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Туалетний папір
                            +icon('right-chevron', 'main-subnav__icon')
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text Ортопедичнi товари
                    +icon('right-chevron', 'main-subnav__icon')
                ul.main-subnav-list
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Ортопедичні устілки для дорослих
                            +icon('right-chevron', 'main-subnav__icon')
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text Iнтимна продукцiя
                    +icon('right-chevron', 'main-subnav__icon')
                ul.main-subnav-list
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Гель-мастила, крему, спреї
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Насадки, кільця, кульки
                            +icon('right-chevron', 'main-subnav__icon')
                    li.main-subnav-list__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Презервативи-іграшки
                            +icon('right-chevron', 'main-subnav__icon')

