.product-prev
    .product-prev__header
        .js-product-prev__slider
            img(src='static/images/content/products/product-1/black-wheelchair.png'
                alt='image of product' data-color="rgba(21,21,21,0.91)").product-prev__img
            img(src='static/images/content/products/product-2/blue-wheelchair.png'
                alt='image of product' data-color="rgba(0,23,255,0.74)").product-prev__img
            img(src='static/images/content/products/product-3/light-blue-wheelchair.png'
                alt='image of product' data-color="rgba(0,255,245,0.37)").product-prev__img
    .product-prev__body
        .product-prev__info
            span.product-prev__title Iнвалідний вiзок
            span.product-prev__condition Стан: Новий
        .product-prev__price
            span.product-prev__price-current 40 $
            span.product-prev__price-old 70 $
        .product-prev__colors
    .product-prev__footer
        button.btn.btn--inline В корзину
