.product-prev
    .product-prev__header
        .js-product-prev__slider
            img(src='static/images/content/products/product-1/white-crutch.png'
                alt='image of product' data-color="rgba(21,21,21,0.91)").product-prev__img
            img(src='static/images/content/products/product-1/white-crutch.png'
                alt='image of product' data-color="rgba(255,245,250,0.74)").product-prev__img
    .product-prev__body
        .product-prev__info
            span.product-prev__title Милиця
            span.product-prev__condition Стан: Новi
        .product-prev__price
            span.product-prev__price-current 50 $
        .product-prev__colors
    .product-prev__footer
        button.btn.btn--inline В корзину
